/* pages/bdmt_race_applicants/index.wxss */
page{
  background-color: whitesmoke;
}


.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.player-box{
  padding-bottom: 80rpx;
  .palyer-item-box{
    padding: 20rpx;
    background-color:#fff;
  }
}



.bottom-box {
  width: 100%;
  position: fixed;
  bottom: 0rpx;
  background-color: #F5FFFA;

  .button-action{
    display: flex;
    justify-content: space-around;
  }
  
}