/* components/mainrace-trial/race-trial.wxss */


.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.referee-box{
  padding-bottom: 80rpx;
  .referee-item-box{
    padding: 20rpx;
    background-color:#fff;
  }
}